body {
    color:rgb(12, 8, 3);
  background-color: rgb(247, 247, 247);
  margin:0mm;
  font-family: sans-serif;}
  
  .centro{
    text-align:center; 
  }
  
  li{
      list-style-type:circle;
  }

<<<<<<< HEAD
  h1{
    color: rgb(39, 37, 37);
    background-color: rgb(119, 118, 117);

    font-size: 200%;
  }
  h2{
   color: rgb(35, 35, 36);
    background-color: rgb(192, 245, 195);

    font-size: 150%; 
  }
=======

>>>>>>> origin/susana
  
element.style {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
}

.vc_custom_1586311167749 {
    padding-right: 1vh !important;
    padding-bottom: 2vh !important;
    padding-left: 1vh !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  ol{
      list-style-type: upper-roman; 
  }
  ul{
      padding:0;
      width:100%;
  }
  li{
      display: inline;
  }
  a{
      outline:none;
      text-decoration: none;
      display: inline-block;
      width:19.5%;
      margin-right:0.625%;
      text-align:center;
      line-height:3;
      color:black;
  }
  li:last-child a {
      margin-right:0;
  }
  a:link, a:visited, a:focus{
      background:rgb(177, 167, 174);
  }
  a:hover{
      background:orange;
  }
  a:active{
      background:red;
      color:white;
  }